@import "normalize.css";

html, body {
  height: 100%;
}

@font-face {
  font-family: 'aaarghnormal';
  src: url('/fonts/aaargh_normal_macroman/Aaargh-webfont.eot');
  src: url('/fonts/aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
       url('/fonts/aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
       url('/fonts/aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'EngraversGothicBT'; /*sans serif*/
  src:  url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.eot');
  src: url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.eot') format('embedded-opentype'),
       url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.woff2') format('woff2'),
       url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.woff') format('woff'),
       url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.ttf') format('truetype'),
       url('/fonts/engravers-gothic-bt/EvgraversGothicBTW.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('/assets/bg_pattern.svg');
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  min-width: 2.6rem;
  background: rgba(0,0,0,0.4);
  border-radius: 0 0 2px 0;
}

.logo--text {
  display: none;
}

.logo--container {
  display: inline-block;
  position: relative;
  height: 2rem;
  margin: 0.3rem;
  max-width: 2rem;
}

.logo--container__img {
  height: 2rem;
  max-width: 3rem;
  position: absolute;
}

.cnvs {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pixel {
  backface-visibility: hidden;
  transition: 1s transform;
}

.pixel:hover, .rotate {
  transform: rotateY(180deg);
}

.content--description {
  text-align: center;
}

.content {
  margin-top: 97px;
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-family: "aaarghnormal", sans-serif;
}

.content--center {
  font-size: 5rem;
  text-align: center;
}

@-webkit-keyframes make-awesome {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes make-awesome {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.content--mailer {
  display: inline-block;
  position: relative;;
}

.content--mailer a {
  text-decoration: none;
  display: inline-block;
}

.content--mailer a:hover {
  animation: make-awesome 1.7s linear infinite reverse;
  background: -moz-llinear-gradient(180deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background: -webkit-linear-gradient(180deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background: linear-gradient(270deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background-size: 350% 100%;
  background-position:0% 50%;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  /*
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	-webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
  */
}

.content--mailer::after {
    width: 100%;
    height: 1px;
    background: #ff00ff;
    position: absolute;
    bottom: 4px;
    left: 0;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.content--mailer:hover::after {
  content: '';
  background: -moz-llinear-gradient(180deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background: -webkit-linear-gradient(180deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background: linear-gradient(270deg, #ff00ff, #ff00ff, #0000ff, #0000ff, #ff00ff, #ff00ff);
  background-size: 350% 100%;
  background-position: 0% 50%;
  -webkit-animation: make-awesome 1.7s linear infinite reverse;
  animation: make-awesome 1.7s linear infinite reverse;
}

.headroom {
    will-change: transform;
    transition: transform .25s ease-in-out;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

footer {
  width: 100%;
}

.footer--copyright {
  font-family: monospace;
  font-size: 0.5rem;
  float: right;
  margin-right: 2rem;
}

@media only screen and (min-width: 40em) {
  header {
    width: 100%;
    background: #0c0c0c;
    border-bottom: 1px solid #bcbcbc;
    /*border-bottom: 3px solid #5486e2;
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);*/
    border-image-slice: 1;
  }

  .logo {
    margin-left: 50px;
    margin-top: 10px;
    width: 12rem;
    height: 5rem;
    border-radius: none;
    background: transparent;
    /*
    background: url('/assets/logo-pixel_value-final.svg') no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    */
  }
  .logo--text {
    float: left;
    display: inline-block;
    font-size: 2rem;
    width: 6rem;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: "EngraversGothicBT", sans-serif;
    padding-left: 20px;
  }

  .logo--text__text-top {
    display: block;
    letter-spacing: 4px;
  }

  .logo--text__text-bottom {
    display: block;
    letter-spacing: 2px;
  }

  .logo--container {
      margin-top: 0.55rem;
      height: 3.30rem;
      max-width: 3rem;
      margin-left: 0.5rem;
  }

  .logo--container__img {
      height: 3.30rem;
  }
}
