<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script>
  (function () {
    var triangilifier, headroom;

    function draw(container) {
      if (container) {
        var imagePath = 'url(\'' + triangilifier.png() + '\')';
        container.style.backgroundImage = imagePath;
        container.classList.add('triagilified')
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      triangilifier = Trianglify({
          width: window.innerWidth,
          height: window.innerHeight,
          x_colors: ["#023858", "#045a8d", "#0570b0", /*"#a6bddb",*/ "#74a9cf", "#3690c0", "#0570b0", "#045a8d", "#023858"],
          y_colors: "match_x"
      });

      ['.subscribe-block'].forEach(function (s) {
        var e  = document.querySelectorAll(s);
        if (e.length) {
          Array.prototype.slice.call(e).forEach(function (c) {
            draw(c)
          })
        }
      })


      
    })
  })()
</script>
