<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% include favicon.html %}
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="Pixel Value">
    <meta property="og:image" content="{{ site.url }}{{ site.og_image }}"/>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />

    <meta name="description" content="{{ page.description }}">

    <link href="/css/bootstrap.css"  rel="stylesheet"/>
    <link href="/css/font-awesome.min.css"  rel="stylesheet"/>
    <link href="/css/main.css"  rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lustria&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll" style="position: relative" data-target="#main-menu">
    <div class="page-container">
      {{ content }}
      {% include scroll2top.html %}
      {% include footer.html %}
    </div>
    {% include metrics.html %}
    {% include background.js.html %}
    {% include errortracking.js.html %}
    <!-- this font loading polyfill includes polyfill for promises also-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.5/fontfaceobserver.js"></script>
    <script>
      (function () {
        let notify = (e) => {
          console.log(e)
        };
        ['EngraversGothicBT', 'Lato', 'Lustria'].forEach(n => {
          let ffo = new FontFaceObserver(n);
          ffo.load().then(() => {
            document.documentElement.className += " font-EngraversGothicBT-loaded";
          }).catch(e => notify(e))
        })
      }())
    </script>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blocs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.6/svg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script src="js/main.js" type="text/babel"></script>
    <script src="js/jquery.cookie.js"></script>
  </body>
</html>
