<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="c4w64mHjJJ5kv8IwJCoIdbnT0TUAgyr9-SbkauYu2dI" />

    <title>{{ page.title }}</title>
    {% include favicon.html %}
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="Pixel Value">
    <meta property="og:image" content="{{ site.url }}{{ site.og_image }}"/>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />

    <meta name="description" content="{{ page.description }}">

    <!-- build:css -->
    <link href="/css/bootstrap.css"  rel="stylesheet"/>
    <link href="/css/font-awesome.min.css"  rel="stylesheet"/>
    <link href="/css/main.css"  rel="stylesheet"/>
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lustria&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll" style="position: relative" data-target="#main-menu">
    <div class="page-container">
      {{ content }}
      {% include scroll2top.html %}
      {% include footer.html %}
    </div>
    {% include metrics.html %}
    {% include errortracking.js.html %}
    <!-- this font loading polyfill includes polyfill for promises also-->
    <script src="js/fontfaceobserver.js"></script>
    <script>
      (function () {
        let notify = (e) => {
          console && console.log(e)
        };
        ['EngraversGothicBT', 'Lato', 'Lustria'].forEach(n => {
          let ffo = new FontFaceObserver(n);
          ffo.load().then(() => {
            document.documentElement.className += " font-EngraversGothicBT-loaded";
          }).catch(e => notify(e))
        })
      }())
    </script>
    <!-- build:js -->
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blocs.min.js"></script>
    <script src="js/svg.js"></script>
    <script src="js/trianglify.min.js"></script>
    <script src="js/babel.min.js"></script>
    <script src="js/main.es6" type="text/babel"></script>
    <script src="js/jquery.cookie.js"></script>
    <!-- endbuild -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://pixelvalue.io",
       "logo": "http://pixelvalue.io/assets/Logo-static-fixed.svg",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+1-250-891-5430",
        "contactType": "sales",
        "email": "ca.office@pixelvalue.io",
        "areaServed": ["US", "CA"]
      },{
        "@type": "ContactPoint",
        "telephone": "+38-044-232-37-68",
        "email": "ua.office@pixelvalue.io",
        "contactType": "sales",
        "availableLanguage": ["English", "Ukrainian", "Russian"]
      }]
    }
    </script>
  </body>
</html>
