<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>

    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="Pixel Value">
    <meta property="og:image" content="{{ site.url + site.og_image }}"/>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />

    <meta name="description" content="{{ page.description }}">

    <link href="/css/main.css"  rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <script src="https://unpkg.com/headroom.js"></script>
    <script>


      (function () {
        var triangilifier, headroom;
        window.addEventListener('resize', function () {
          var resizeTimeout;
          function resizeThrottler() {
            // ignore resize events as long as an actualResizeHandler execution is in the queue
            if ( !resizeTimeout ) {
              resizeTimeout = setTimeout(function() {
                resizeTimeout = null;
                updateView()
             }, 66); //15 fps
            }
          }
        }, false)

        function updateView() {

        }

        function draw() {
          var imagePath = 'url(\'' + triangilifier.png() + '\')';
          document.body.style.backgroundImage = imagePath;
          //canvas.classList.add('canvas-background')
          //document.body.insertBefore(canvas, document.querySelector('footer'))
        }

        document.addEventListener('DOMContentLoaded', function () {
          window.t = triangilifier = Trianglify({
              width: window.innerWidth,
              height: window.innerHeight,
              //x_colors: ["#f7fcfd", "#e0ecf4", "#bfd3e6", "#9ebcda", "#8c96c6", "#8c6bb1", "#88419d", "#810f7c", "#4d004b"],
              //x_colors: ["#fff7fb", "#ece7f2", "#d0d1e6", "#a6bddb", "#74a9cf", "#3690c0", "#0570b0", "#045a8d", "#023858"],
              x_colors: ["#023858", "#045a8d", "#0570b0", "#a6bddb", "#74a9cf", "#3690c0", "#0570b0", "#045a8d", "#023858"],
              y_colors: "match_x"
          });

          headroom = new Headroom(document.querySelector('header'), { tolerance: 100 });
          headroom.init()
          draw()
        })
      })()
    </script>
  </head>
  <body>
    {% include header.html %}
    <div class="content">
    {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
